body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)), url(san-francisco.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
* {
    color: red;

}

h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: darkred;
}

p {
    font-size: 20px;
    font-weight: 300;
    padding: 30px 15px;
    color: orangered;
}